.topnav {
	background-color: #76589c;
	overflow: hidden;
}
.logo {
	float: left;
	padding: 10px 20px;
}
.title {
	float: left;
	text-align: center;
	color: #ffffff;
	padding: 14px 16px;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Roboto';
}

.topbarbutton {
	float: right;
	text-align: center;
	color: #ffffff;
	padding: 14px 16px;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Roboto';
	cursor: pointer;
}

.buttons {
	overflow: hidden;
}
.block1 {
	background-color: #ed6430;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	font-family: 'Roboto';
	padding: 14px 28px;
	font-size: 64px;

	cursor: pointer;

	position: absolute;
	width: 525px;
	height: 275px;
	left: 128px;
	top: 275px;

	border: 1px solid #ed6430;
	box-sizing: border-box;
	border-radius: 24px;
}
.block2 {
	background-color: #452c72;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	font-family: 'Roboto';
	padding: 14px 28px;
	font-size: 64px;

	cursor: pointer;

	position: absolute;
	width: 525px;
	height: 275px;
	left: 787px;
	top: 275px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	border: 1px solid #452c72;
	box-sizing: border-box;
	border-radius: 24px;
}
